<phpunit backupGlobals="false"
         colors="true"
         bootstrap="test/bootstrap.php"
        >
    <testsuites>
        <testsuite name="msDateTime Test Suite">
            <directory>test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>vendor</directory>
            <directory>docs</directory>
        </blacklist>
    </filter>
    <!--<logging>-->
        <!--<log type="coverage-html" target="build/docs/coverage" charset="UTF-8" yui="true" />-->
        <!--<log type="coverage-php" target="build/docs/coverage.serialized"/>-->
        <!--<log type="json" target="build/docs/logfile.json"/>-->
        <!--<log type="junit" target="build/docs/logfile.xml"/>-->
        <!--<log type="testdox-html" target="build/docs/testdox.html"/>-->
        <!--<log type="testdox-text" target="build/docs/testdox.txt"/>-->
    <!--</logging>-->
</phpunit>
